name: IV Curve Parameter Fit Scorer

on: [push, pull_request]

jobs:
  score-submission:
    name: Score Submission
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install requirements
        run: pip3 install -r requirements.txt
      - name: Run scorer
        run: python3 compare_curves.py

